{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "color": {
      "1": "{{colors.primary.default.hex}}",
      "2": "{{colors.secondary.default.hex}}",
      "3": "{{colors.tertiary.default.hex}}",
      "4": "{{colors.primary_container.default.hex}}"
    }
  },
  "display": {
    "color": {
      "keys": "{{colors.on_surface.default.hex}}",
      "title": "{{colors.primary.default.hex}}",
      "separator": "{{colors.outline.default.hex}}"
    }
  }
}
